{
  "presets": ["es2015"],
  "plugins": [
    ["../../../src", {
      "transforms": [{
        "transform": "my-custom-module/wrap",
        "locals": ["module"],
        "imports": ["react"]
      }, {
        "transform": "my-other-custom-module/wrap"
      }]
    }]
  ]
}
