{
  "comments": false,
  "plugins": [
    ["../../../src", {
      "transforms": [{
        "transform": "transform-lib"
      }],
      "transformReactLikeFunctionsToClasses": true
    }]
  ],
  "presets": ["react"]
}
